body .form {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .form__title {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0;
}

body .form__item {
  width: 24em;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #757575;
  border: solid .5px #ffffff;
  border-radius: 5px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */