body  {

  .form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title  {
      font-size: 25px;
      font-weight: 700;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 20px 0;
    }

    &__item  {
      width: 24em;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #757575;
      border: solid .5px #ffffff;
      border-radius: 5px;
      color: #ffffff;
    }
  } 
}